.container {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  
}

.table th,
.table td {
  border: 1px solid #9d9d9d;
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: #f0f0f0;
}
